.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 135px;
    margin-right: 135px;

}
.explore-menu h1{
    color: #262626;
    font-weight: 500;
}
.explore-menu-text{
    max-width: 60%;
    columns: #8080;
}
.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow: scroll;
}
.explore-menu-list-item img{
    width: 115px;  
    height: 115px; 
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
    object-fit: cover;   
}
.explore-menu-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}
.explore-menu hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #29871c;
    border: none;
}
.explore-menu-list-item .active{
    border: 4px solid#29871c;
    padding: 2px;
}
@media(max-width:1050px) {
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
}